# Entorno virtual
.venv/
venv/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Configuraciones del sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.temp

# Otros archivos comunes
.env
.idea/
.vscode/
