fastapi
fastapi-mail 
python-multipart 
jinja2
paho-mqtt
pyjwt
passlib[argon2]
python-dotenv
sqlmodel
pydantic_settings
debugpy
mysql-connector-python
psycopg2-binary
uvicorn
dependency-injector
cloudinary

